<ServiceSettings>
  <V3Services>
    <add key="iExchange.StateServer.Service" value="http://10.2.6.1/iExchangeCollection/iExchange3%20Team/iExchange3/StateServer/Service.asmx" />
    <add key="SecurityServiceUrl" value="http://10.2.6.1/iExchangeCollection/iExchange3%20Team/iExchange3/Security/Web/Service/securityservices.asmx" />
    <add key="ParticipantServiceUrl" value="http://10.2.6.1/iExchangeCollection/iExchange3%20Team/iExchange3/Security/Web/Service/participantservices.asmx" />
    <add key="backofficeServiceUrl" value="http://10.2.6.1/iExchangeCollection/iExchange3%20Team/iExchange3/backoffice/webservice/ServiceSettings.asmx" />
  </V3Services>

  <JavaTraderSettings>
    <add key="logo" value="iExchange.gif"/>
    <add key="color_setting" value="ColorSettingsForJava.xml"/>
    <add key="setting" value="Settings.xml"/>
    <add key="parameter" value="Setting\Parameter.xml"/>
    <add key="login" value="Setting\Login.xml"/>
    <add key="agreement" value="Agreement.xml"/>
    <add key="column_setting" value="ColumnSettings.xml"/>
    <add key="integrality_settings" value="IntegralitySettings.xml"/>
    <add key="TradingConsole" value="33AA3781-2795-4EA1-9FC1-D6E9AFDFB27C"/>
    <add key="Run" value="5029EBEA-485F-4014-AE18-0F1179A400B3"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </JavaTraderSettings>
</ServiceSettings>