<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="TimeSync" type="Framework.Time.TimeSyncSection, Framework" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Trader.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ServiceSettings" type="Trader.Server.Config.ServiceSettings, Trader.Server"/>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <TimeSync syncInterval="00:00:30" minAdjustedTimeOfSyncSoon="00:00:03" />
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10000"/>
    </connectionManagement>
  </system.net>

  <appSettings>
    <add key="serverPort" value="8888" />
    <add key="TickDataReturnCount" value="60" />
    <add key="SessionExpiredTimeSpan" value="20" />
    <add key="LedgerReportTimeoutInMillsecond" value="30000" />
    <add key="StatementReportTimeoutInMillsecond" value="30000" />
    <add key="physicPath" value="D:\Teams\iExchangeCollection\iExchange3 Team\iExchange3Promotion\TraderService\bin\Debug\Setting" />
    <add key="connectionStringForReport" value="Provider=SQLOLEDB;Data Source=ws0206;Persist Security Info=True;User ID=sa;password=Omni1234;Initial Catalog=iExchange_V3" />
    <add key="connectionString" value="data source=ws0206;initial catalog=iExchange_V3;user id=sa;password=Omni1234;Connect Timeout=30" />
    <add key="commandUrl" value="net.tcp://ws0210:9001/AsyncSslServer/Service/CommandCollectService" />
    <add key="CertificatePath" value="D:\Work\SslServer.cer" />
    <add key="PriceSendPeriodInMilisecond" value="200"/>
    <add key="IsSendPriceImmediately" value="1"/>
    <add key="IsTest" value="1"/>
  </appSettings>
  <log4net configSource="Config\Log4Net.configg" />
  <ServiceSettings configSource="Config\Service.config"></ServiceSettings>
  
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <!--<serviceMetadata httpGetEnabled="true"/>-->
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="6553600" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <netTcpBinding>
        <binding name="tcpBindingNoSecurity" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" openTimeout="00:30:00" sendTimeout="00:30:00" receiveTimeout="00:30:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="Trader.Server.Service.CommandCollectService">
        <endpoint         address="net.tcp://ws0210:9001/AsyncSslServer/Service/CommandCollectService" binding="netTcpBinding"         contract="Trader.Server.Service.ICommandCollectService" bindingConfiguration="tcpBindingNoSecurity">
        </endpoint>
      </service>
    </services>



  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>